@model ButterCMS.Models.Post

     
        
    <div class="col-5 md:col-2 md:gap-x-8 lg:gap-x-16 gap-y-10 md:gap-y-16">
        <img style="max-height: 100%; max-width: 100%" src="@Model.FeaturedImage" />
        <h3 class="text-3xl mb-3 leadiRng-snug">
            <a class="hover:underline" href="/blog/@Uri.EscapeDataString(Model.Slug)">@Model.Title</a>
        </h3>
        <p>@(Model.Published.HasValue ? $"{Model.Published.Value:D} / by " : "By ") <a href="/author/@Uri.EscapeDataString(Model.Author.Slug)" target="_blank">@Model.Author.FirstName @Model.Author.LastName</a></p>
        <div class="text-lg mb-4">
            <p class="text-lg leading-relaxed mb-4">@Model.Summary</p>
        </div>
    </div>
        
   
<!-- Blog Post End -->
