@model HomeViewModel
@*@{
        Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
    }*@

<html>
<head>
    <title>@Model.SeoTitle</title>
</head>
<body>
    <h1>@Model.Headline</h1>
    <img width="100%" src="@Model.HeroImage">
    <button>@Model.CallToAction</button>
    <h3>Our Customers Love Us!</h3>
    <!-- Loop over customer logos -->
    @foreach (var item in Model.CustomerLogos)
    {
        @item.logo_image
    }
</body>
</html>